# Ignore files for convenience. Use `git add -f <files>` to include necessary files.

# Dependencies
include/*
lib/*

# Build files
build/**/.vs
build/**/*.user
build/**/Debug
build/**/Release
build/**/Win32
build/**/x64

# Release directory
release/*

